a:hover {
    color: rgb(202, 202, 202);
}

.index-body+.bg-dark {
    color: #fff;
}

.card {
    border: #fff;
}

.list-group-item+.bg-dark {
    color: #fff;
}

.standard-plan:first-child li,
.expert-plan:first-child li,
.prof-plan:first-child li {
    border-bottom-width: 0;
}

.bi-brightness-alt-high,
.bi-brightness-high,
.bi-brightness-alt-low {
    font-size: 2.5rem;
}

.services-text {
    border-left: 1px solid grey;
}

.services-pic {
    width: 300px;
}

.bi-check-lg {
    font-size: 1.5rem;
}

.list-group-item:nth-of-type(odd) {
    background: rgb(235, 231, 231);
}

.list-group:last-child a {
    color: #fff;
}


@media screen and (max-width: 320px) {

    h5,
    p,
    a,
    li {
        text-align: center;

    }


    #lead-intro {
        margin: 0;
    }

    .mt-3,
    .w-75 {
        width: 100% !important;
    }

    .navbar-nav {
        text-align: center;
    }

    .services-pic {
        margin: auto;
    }

}

@media screen and (max-width: 576px) {

    .mt-3,
    .w-75 {
        width: 100% !important;
    }
}

@media screen and (max-width: 768px) {

    .mt-3,
    .w-75 {
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) {

    .mt-3,
    .w-75 {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) and (max-width: 1750px) {

    .mt-3,
    .w-75 {
        width: 100% !important;
    }
}